<div>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="text-align: center;">
    <a routerLink='/mostra-livros' class="navbar-brand">
      <img src="../assets/ler-manga.jpeg" width="60" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/mostra-livros">Todos os Livros </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cadastra-usuario">Cadastre-se</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" routerLink="/cadastra-livro">Cadastra Obra</a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" routerLink="/cadastra-autor">Cadastra Autor</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/configuracao">Configuração</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>