<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
        <div class="col">

            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nome">
        </div>
        <div class="col">

            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Sobrenome">
        </div>
    </div>

    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Senha"
        aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <button class="btn btn-info my-4 btn-block" type="submit" (click)="cadastraUsuario()">Cadastra-se</button>


</form>